application:
	mapping:
		*: [App\Modules, *, Presenters\*Presenter]

services:
	- App\Model\Routing\RouterFactory::createRouter

	latte.latteFactory:
		setup:
			- '$onCompile[]' = App\Model\Latte\AssetsMacro::setup(%wwwDir%/dist, /dist/)
