{block #head}
    {assets-css main.css}
    {assets-js main.js}
{/block}

{block content}

<div class="flex flex-col space-y-16">
    <div>
        <div class="font-bold text-2xl">Nette</div>
        <div>Hello from Nette</div>
    </div>

    <div>
        <div class="font-bold text-2xl">Vue</div>
        <div id="app"></div>
    </div>
</div>
